// --------------------------------------------------
// MAIN STYLE
// --------------------------------------------------
//
// LAYOUT: LAYOUT STYLE
// -------------------------------------
.site-header {
	position: relative;
}
.site-footer {
	font-size: 14px;
	background-color: #112a40;
	&, a {
		color: #637383;
	}
	a:hover {
		color: @secondary-color;
	}
	a:hover, a:focus {
		text-decoration: none;
	}
}
.top-wrap{
	position: relative;
	min-height: 200px;
	background-color: #fff;
}
.menu{
	min-height: 40px;
}
// MODULE: MODULE STYLE
// -------------------------------------


/*=====  End of ABOUT US PAGE  ======*/


/*====================================
=            CONTACT PAGE            =
====================================*/
